/* Set up variables for fonts and colors */
$primary-font: 'Shadows Into Light', cursive
$second-font: 'Open Sans', sans-serif
$tan: #EBEAD3
$light-green: #EDEDE8
$medium-olive: #696833
$dark-olive: #5A5A32

/* Mixins */
@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

@mixin project-image($image-url)
  height: 400px
  width: 80%
  background-size: cover
  background-image: url($image-url)

@mixin center
  text-align: center

/* For the initial landing on homepage */
.landing-top
  height: 40.625em
  background-image: url('../../images/shepherds-purse.jpg')
  background-size: cover
  font-family: $primary-font
  color: white
  margin-bottom: 0.000em
  @include center

.jumbotron
  p
    font-size: 1.625em
    margin-bottom: 3.125em

.btn-primary
  background-color: $medium-olive
  border-color: white
  &:hover
    background-color: $dark-olive
    border-color: white

/* Styling for main sections on homepage */
.landing-row
  min-height: 40.625em
  background-color: $tan
  font-family: $second-font
  @include center
  h1
    font-weight: 700
    font-size: 2.500em
    margin-top: 3.125em

.general-para
  margin-top: 3.750em
  font-size: 1.250em
  font-weight: 400
  margin-right: 10%
  margin-left: 10%

/* Styling for smaller sections on homepage */
.top-row
  min-height: 43.750em

#row-two
  background-color: $light-green

#kathryn-pic
  height: 12.500em
  width: 12.500em
  margin-top: 2.500em
  margin-bottom: 3.125em
  background-image: url('../../images/Kathryn-pic.jpg')
  background-size: cover
  @include border-radius(6.250em)

#skills-title
  margin-top: 7.500em

#skills-para
  font-size: 1.500em
  margin-top: 5.000em

#project-title-row
  height: 5.000em
  background-color: $tan
  @include center
  font-family: $second-font
  h1
    font-weight: 700
    margin-top: 3.125em
    margin-bottom: 3.125em

.project-row
  min-height: 31.250em
  background-color: $tan
  font-family: $second-font
  @include center

.project-para
  font-size: 1.250em
  margin-top: 3.125em
  margin-bottom: 4.375em
  margin-right: 10%
  margin-left: 10%

.project-links
  color: $medium-olive
  &:hover
    @extend .project-links

#art-map
  @include project-image('../../images/ArtMap-Homepage.png')

#inspiral-app
  @include project-image('../../images/Inspiral-Homepage.png')

.contact
  margin-top: 9.375em

.fa
  font-size: 6.250em
  color: $medium-olive

.bottom-row
  @include center
  background-color: $medium-olive
  color: white
  height: 12.500em
  p
    margin-top: 5.000em
    font-family: $primary-font
    font-size: 1.625em





