/* For the initial landing on homepage */
.landing-top {
  height: 650px;
  background-image:url('../../images/shepherds-purse.jpg');
  background-size: cover;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  color: white;
  margin-bottom: 0px;
}

.jumbotron p {
  font-size: 26px;
  margin-bottom: 50px;
}

.btn-primary {
  background-color: #696833;
  border-color: white;
}

.btn-primary:hover {
  background-color: #5A5A32;
  border-color:white;
}

/* Styling for sections on homepage */

.landing-row {
  height: 650px;
  background-color: #EBEAD3;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.landing-row h1 {
  font-weight: 700;
  font-size: 40px;
  margin-top: 80px;
}

.general-para {
  margin-top: 60px;
  font-size: 24px;
  font-weight: 400;
  margin-right: 200px;
  margin-left: 200px;
}

/* Custom styling for sections on homepage */
#row-two {
  background-color: #EDEDE8;
}

#kathryn-pic {
  height: 200px;
  width: 200px;
  margin-top: 60px;
  background-image:url('../../images/Kathryn-pic.jpg');
  background-size: cover;
  -webkit-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px;
}

#projects-row {
  height: 700px;
}

.project-para {
  font-size: 16px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.project-links {
  color: #696833;
}

.project-links:hover {
  color: #696833;
}

#art-map {
  height: 300px;
  width: 400px;
  margin-top: 60px;
  background-image:url('../../images/ArtMap-Homepage.png');
  background-size: cover;
}

#inspiral-app {
  height: 300px;
  width: 400px;
  margin-top: 60px;
  background-image:url('../../images/Inspiral-Homepage.png');
  background-size: cover;
}

.fa {
  margin-top: 200px;
  font-size: 100px;
  color: #696833;
}






