<div class="jumbotron landing-top">
  <h1>Hello</h1>
  <p>I'm Kathryn, a full stack developer from Austin, Texas.</p>
  <p><a href="#aboutme" class="btn btn-primary btn-lg" role="button">About Me</a></p>
</div>
<div class="row landing-row-two">
    <div class="col-xs-12">
        <h1>ABOUT</h1>
        <a name="aboutme"></a>
        <p>Developer comfortable working on the front end and on the back end. A passionate yogi who brings a zen approach to her work.</p>
        <img></img>
    </div>
</div>
