<div class="jumbotron landing-top">
  <h1>Hello</h1>
  <p>I'm Kathryn, a full stack developer from Austin, Texas.</p>
  <p><a href="#aboutme" class="btn btn-primary btn-lg" role="button">About Me</a></p>
</div>
<div class="row landing-row">
    <div class="col-xs-12">
        <h1>ABOUT</h1>
        <a name="aboutme"></a>
        <p>Developer comfortable working on the front end and on the back end. A passionate yogi who brings a zen approach to her work.</p>
        <img id="kathryn-pic"></img>
    </div>
</div>
<div class="row landing-row" id="row-two">
    <div class="col-xs-12">
        <h1>SKILLS</h1>
        <p>JavaScript, Ruby, Ruby on Rails, HTML5/CSS3, jQuery, AJAX, Git/GitHub, Bootstrap, Foundation, Node.js, Meteor.js, Sails.js, MongoDB, PostgreSQL, APIs, Editing (<em>Chicago Manual of Style</em>), Writing</p>
    </div>
</div>
<div class="row landing-row">
        <h1>PROJECTS</h1>
        <div class="col-xs-6">
            <img></img>
        </div>
        <div class="col-xs-6">
            <img></img>
        </div>
</div>
<div class="row landing-row" id="row-two">
        <h1>CONTACT</h1>
        <div class="col-xs-4">
            <h4>Twitter</h4>
        </div>
        <div class="col-xs-4">
            <h4>LinkedIn</h4>
        </div>
        <div class="col-xs-4">
            <h4>GitHub</h4>
        </div>
</div>
